{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Poll Creation</title>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main_container">
		<form action="{% url 'polls:create' %}" method="post">
		{% csrf_token %}
		<fieldset>
			<legend><h1>What's your question</h1></legend>
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			{{ form }}
			<br>
		</fieldset>
		<input type="submit" class="button create large" value="create">
		<a class="button large cancel" href="{% url 'polls:index' %}">go back</a>
	</div>
</form>
</body>
</html>
