{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Question: {{ question.question_text }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main_container">
		<fieldset>
			<legend><h1>{{ question.question_text }}</h1></legend>
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			<div class="list_container">
				{% if question.choice_set.all %}
					<form action="{% url 'polls:vote' question.id %}" method="post">
						{% csrf_token %}
						<ul>
						{% for choice in question.choice_set.all %}
							<li class="list_item">
							<label for="choice{{ forloop.counter }}">{{choice.choice_text }}</label>
							<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
							<button class="button delete small" type="submit" value="{{ choice.id }}">-</button>
							</li>
							<br><br>
						{% endfor %}
						</ul>
						<input class="button edit large" type="submit" value="vote">
					</form>
				{% else %}
					<p>There are now choices at the moment. Add some!</p>
				{% endif %}
			</div>
		</fieldset>

		<br>

		<h3>Other options...</h3>
		<div class="list_container">
			<ul>
				<li class="list_item"><a class="button create" href="{% url 'polls:add_choice' question.id %}">new choice</a></li>
				<li class="list_item">
					<form class="button delete" action="{% url 'polls:delete' question.id %}" method="post">
						{% csrf_token %}
						<input class="delete" type="submit" value="delete">
					</form>
				</li>
				<li class="list_item"><a class="button edit" href="{% url 'polls:results' question.id %}">current score</a></li>
				<li class="list_item"><a class="button cancel" href="{% url 'polls:index' %}">go back</a></li>
			</ul>
		</div>
	</div>
	<script>
		const HOST = "localhost";
		const PORT = "8000";

		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');

		function deleteChoice(e) {
			e.preventDefault();
			let url = `http://${HOST}:${PORT}/polls/${e.target.value}/delete_choice/`;
			console.log(url);
			fetch(url, {
				method: "POST",
				headers: {
					"Content-type": "application/json",
					"X-CSRFToken": csrftoken,
				},
			}).then((res)=> {
				window.location.reload(true);
			})
		}

		function deleteChoiceHandler() {
			todelete = document.getElementsByClassName("list_container")[0].getElementsByClassName("button delete");
			for (let i = 0; i < todelete.length; i++) {
				todelete[i].addEventListener("click", deleteChoice);
			}
		}
		deleteChoiceHandler();
	</script>
</body>
</html>
