{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Super-Mega Questions</title>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main_container">
		<h1>Super-Mega Questions Index</h1>
		<div class="list_container list_index">
		{% if latest_question_list %}
			<ul>
			{% for question in latest_question_list %}
				<li class="list_item">
				<a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
				<a class="button edit" href="{% url 'polls:detail' question.id %}">edit</a>
				<form class="button delete" action="{% url 'polls:delete' question.id %}" method="post">
					{% csrf_token %}
					<input class="delete" type="submit" value="delete">
				</form>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No polls are available.</p>
		{% endif %}
		</div>
		<a href="{% url 'polls:create' %}" class="button create large">Create New Entry!</a>
	</div>
</body>
</html>
