body, html, #root {
	/* full window */
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;

	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
body {
	background-color: #eee;
}

li {
	list-style: none;
}

.navbar {
	/* as a flex container */
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	height: 8%;

	position: fixed;
	padding-left: 8%;

	background-color: #0d7377;
	color: white;
}

.navbar .logo {
	/* as a flex item with direction row */
	display: block;
	flex-grow: 2;
	flex-basis: auto;

	margin: auto;
}

.navbar ul {
	/* as a flex item with direction row */
	flex-grow: 7;
	flex-basis: auto;

	/* as a flex container */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	margin-right: 8%;
}

.navbar li {
	/* as a flex item with direction row */
	flex-shrink: 1;
	text-align: center;
}

.navlink {
	text-decoration: none;
	color: #fff;
}

.navlinkActive {
	text-decoration: underline;
}

.cardContainer {
	/* as a flex container */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;

	position: relative;

	/* centering start */
	margin: auto;

	/* centering horizontally */
	width: 40%;

	/* centering vertically */
	top: 40%;
	/* centering end */

}

.card {
	/* as flex items of direction: row */
	flex-basis: 33%;

	border-radius: 0.3rem;
	border: 0px;
	box-shadow: 3px 3px 2px #56486c;

	background-color: #cee;
	text-align: center;
	margin-right: 1rem;
}

.card:hover {
	animation: shadow 0.2s;
	animation-fill-mode: forwards;
}

.cardButtons {
	/* as a flex container */
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: auto;
}


.choiceRow {
	/* as flex container */
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-bottom: 0.3rem;
	margin-bottom: 0.5rem;
	box-shadow: 0px 1px #ccc
}

.choicesContainer .choiceRow:last-child {
	box-shadow: none;
}

/* span in choiceRow corresponds to choice text */
.choiceRow span {
	/* as a flex item of direction: row */
	flex-basis: 60%;
	font-style: italic;
}

.choiceRow div {
	/* as a flex item of direction: row */
	flex-basis: 40%;

	/* as a flex container */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* refers to the number of votes of choice in choiceRow */
.choiceRow div span {
	/* as a flex item of direction: row */
	flex-basis: 10%;

	font-weight: bold;
	font-style: italic;
}

.deleteConfirmation {
	/* as a flex container */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.createForm {
	display: flex;
	flex-direction: column;

	position: relative;
	/* centering horizontally */
	margin: auto;
	width: 60%;
	/* positioning vertically */
	top: 20%;

	border-color: #000;
}

.createForm legend {
	text-align: center;
}

.createForm .questionLabel {
	display: block;
	margin-bottom: 0.5rem;

	text-align: center;
	font-style: italic;
}

.createForm .questionInput {
	display: block;
	width: 80%;
	margin: auto;
}

.createForm .choiceInput {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin: auto;
	margin-top: 0.5rem;

	animation: 0.1s fade-in;
}

.createForm .choiceInput label {
	flex-basis: 10%;

	font-style: italic;
}

.createForm .choiceInput input {
	flex-basis: 60%;
}

.button {
	border: 0px;
	box-shadow: 1px 1px 1px #56486c;
}

.delete {
	background-color: #ef0003;
}

.create {
	background-color: #39d82b;
}

.edit {
	background-color: #00bfd8;
}

.cancel {
	background-color: #fc5f1b;
}

.large {
	display: block;

	/* center */
	margin: auto;
	width: 80%;

	margin-top: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	font-weight: bold;
}

.cardButtons .button {
	/* as a flex item of direction column */
	margin: 0.8rem;
}

.createForm .button {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}


.button:hover {
	animation: grow 0.1s;
	animation-fill-mode: forwards;
}

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;

	/* centering start */
	margin: auto;

	/* center fixed horizontally */
	left: 0px;
	right: 0px;

	/* center fixed vertically */
	bottom: 0px;
	top: 0px;
	/* centering end */

	opacity: 0.0;
	background-color: #000;
	z-index: 1;

	/* animation */
	animation: fade-in 0.35s;
	animation-fill-mode: forwards;
}

.modal {
	position: fixed;
	display: block;

	width: 40%;

	/* centering start */
	margin: auto;

	/* center fixed horizontally */
	left: 0px;
	right: 0px;
	/* centering end */

	/* position vertically */
	top: 25%;

	padding-bottom: 2rem;
	background-color: #fff;
	border-radius: 0.3rem;
	z-index: 2;

	/* animation */
	animation: fade-slide-in 0.35s;
	animation-fill-mode: forwards;

}

@keyframes shadow {
	0% {
		box-shadow: 3px 3px 2px #56486c;
	}
	50% {
		box-shadow: 3px 3px 2px #373737;
	}
	100% {
		box-shadow: 5px 5px 4px #373737;
	}
}

@keyframes grow {
	0% {
		transform: scale(1);
		box-shadow: 3px 3px 2px #56486c;
	}
	100% {
		transform: scale(1.01);
		box-shadow: 3px 3px 2px #373737;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.6;
	}
}

@keyframes fade-slide-in {
	0% {
		left: -140%;
		opacity: 0.0;
	}

	80% {
		left: 10%;
		opacity: 1.0
	}

	100% {
		left: 0px;
	}
}

/* spinner from https://loading.io/css/ */
.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;

	/* centering horizontally */
	left: 50%;
	margin-left: -40px;

	/* positioning vertically */
	top: 30%;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #0d7377;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #0d7377 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
