html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
body {
	background: rgb(52,0,106);
	background: linear-gradient(90deg, rgba(52,0,106,1) 0%, rgba(123,0,143,1) 29%, rgba(79,220,249,1) 100%);
}

.main_container {
	/* center */
	width: 40%;
	margin: auto;
}

.main_container h1:first-of-type {
	text-align: center;
}

.list_index {
	background-color: #e5e5e5;
	border-radius: 4px;
	border-color: none;
	box-shadow: 3px 3px 2px #56486c
}

.list_container {
	padding-right: 1.5rem;
	/* as a flex container */
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
}

.list_container ul {
	width: 100%;
	padding: 0px;
}

.list_item {
	/* as a flex item of flex-direction: column */
	width: 100%;
	list-style: none;
	padding: 0.6rem;
	height: 2rem;
	flex-basis: auto;
	margin: 0px;

	/* as a flex container */
	display: inline-flex;
	flex-direction: row;

	box-shadow: 0px 2px #ccc;
}

.list_container ul .list_item:last-of-type {
	box-shadow: none;
}

.list_container p {
	font-weight: bold;
	text-align: center;
}

.list_item a, .list_item label {
	/* as a flex item of flex-direction: row */
	display: inline-block;
	flex-basis: auto;
	width: 60%;
	height: 100%;
	margin: auto;
	padding-top: 0.4rem;

	color: #000000;
	text-decoration: none;
	text-align: center;
}

.button {
	border-radius: 0.2rem;
	cursor: pointer;
	box-shadow: 3px 3px 2px #56486c;
}

.list_item .button {
	/* as a flex item of flex-direction: row */
	display: inline-block;
	flex-basis: auto;
	width: 15%;
	height: 100%;
	margin: auto;
}

.list_item form input {
	width: 100%;
	height: 100%;
	padding: 0;

	font: inherit;

	cursor: pointer;
	border: none;
	border-radius: 0.2rem;
}

.button.button {
	border: none;
}

.list_item .button.small {
	/* to modify flex_basis as flex item of flex-direction: row */
	width: 8%;
}

.large {
	display: inline-block;
	width: 100%;
	margin-top: 0.4rem;
	padding-top: 1rem;
	height: 2rem;

	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #000000;
}

.list_item input[type=radio] {
	background-color: #ddd
}

.list_item .delete, .button.delete {
	background-color: #ef0003;
}

.list_item .edit, .button.edit {
	background-color: #00bfd8;
}

.button.create {
	background-color: #39d82b;
}

.button.cancel {
	background-color: #fc5f1b;
}

input.edit {
	padding-bottom: 2rem;
}

input.create {
	padding-bottom: 2rem;
}

.list_item form {
	padding-bottom: 0.4rem;
}

.button:hover {
	animation: grow 0.2s;
	animation-fill-mode: forwards;
}

@keyframes grow {
	from {
		transform: scale(1);
		box-shadow: 3px 3px 2px #56486c;
	}
	to {
		transform: scale(1.03);
		box-shadow: 4px 4px 4px #373737;
	}
}
